td,
th {
  border: 1px solid #d7d7d7;
}
.table {
  border-collapse: collapse;

  &__cell {
    min-width: 34px;
    text-align: center;
  }

  &__name {
    width: 260px;
    vertical-align: middle;
    padding: 5px 19px;
  }

  &__dayName {
    margin-bottom: 5px;
    font-weight: 400;
  }

  &__numberDay {
    font-weight: 600;
  }

}

th.table__cell {
  height: 64px;
  vertical-align: middle;
}
td.table__cell {
  height: 34px;
  vertical-align: middle;
}

.separator {
  height: 35px;
  border: none;
}

.dayoff {
  background: #F0F0F0;
}