<thead class="calendar-table__head">
  <tr class="calendar-table__head-row">
    <th class="calendar-table__head-column calendar-table__head-column--btn-cell">
      <button class="calendar-table__add-vacation-button">Add Vacation</button>
    </th>
    <th *ngFor="let day of daysOfMonth" class="calendar-table__head-column" [ngClass]="{
      weekend: day['dayName'] === 'Sun' || day['dayName'] === 'Sat'
    }">
      <span class="calendar-table__head-week-day">
        {{ day["dayName"] }}
      </span>
      <span class="calendar-table__month-day">
        {{ day["numberDay"] }}
      </span>
    </th>
    <th class="calendar-table__head-column calendar-table__head-column--sum-cell">Sum</th>
  </tr>
</thead>

<tbody class="calendar-table__body">
  <ng-container *ngFor="let team of teams">
    <tr class="calendar-table__body-row team1  team-first-row"  [ngClass]="'teamColor' + (teams.indexOf(team) % 4 + 1)">
      <td class="calendar-table__body-first-column first-column">
        <div class="team-info-cell">
          <span class="team-info-cell__team-name">{{ team["name"] }}</span>
          <div class="team-info-cell__wrapper">
            <div class="team-info-cell__number-people">2</div>
            <div class="team-info-cell__percent">0%</div>
            <div class="team-info-cell__collapse"></div>
          </div>
        </div>
      </td>
      <td *ngFor="let day of daysOfMonth" class="calendar-table__body-column">
        
      </td>
      <td class="calendar-table__body-column sum-cell"></td>
    </tr>
    <tr *ngFor="let userName of team['members']" class=" calendar-table__body-row team1"  [ngClass]="'teamColor' + (teams.indexOf(team) % 4 + 1)">
      <td class="calendar-table__body-first-column first-column">{{ userName["name"] }}</td>
      <td *ngFor="let day of daysOfMonth" class="calendar-table__body-column" [ngClass]="{
        weekend: day['dayName'] === 'Sun' || day['dayName'] === 'Sat'
      }">
        {{ day["numberDay"] }}
      </td>
      <td class="calendar-table__body-column sum-cell"></td>
    </tr>
    <tr class=" calendar-table__body-row teamColor1 team1 team-last-row ">
      <!-- <td [className]="'separator'" ></td> -->
    </tr>
  </ng-container>
</tbody>
