/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 18px;
}

.container {
  width: 1350px;
  margin: 0 auto;
}


